[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
autopep8 = "*"

[packages]
djangorestframework = "*"
django = "*"
dj-database-url = "*"
django-extensions = "*"
django-filter = "*"
djangorestframework-simplejwt = "*"
gunicorn = "*"
psycopg2-binary = "*"
pycodestyle = "*"
pyjwt = "*"
pytz = "*"
six = "*"
sqlparse = "*"
whitenoise = "*"

[requires]
python_version = "3.7"
